<h2>Add a new Story<h2>
<%= form_for @story do |f| %>

  <% if @story.errors.any? %>
  	<div class="form_errors">
  		<h3>Errors</h3>
  		<ul>
  			<% @story.errors.full_messages.each do |message| %>
  				<li><%= message %></li>
  			<% end %>
  		</ul>
  	</div>
  <% end %>

	<div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>

  <%= f.submit %>
<% end %>
